.calendar {
	display: grid;
	grid-template-columns: [time] auto [lun] 1fr [mar] 1fr [mie] 1fr [jue] 1fr [vie] 1fr [end-col];
	width: 900px;
	border-radius: 5px;
	background-color: grey;
	padding: 2px;
}

.large-calendar {
	height: 1000px;
	/*grid-template-rows: 20px repeat(26, 1fr);*/
}

.small-calendar {
	height: 600px;
	grid-template-rows:     
	[day]  auto
    [_0900]  1fr
    [_0930]  1fr
    [_1000]  1fr 
    [_1030]  1fr
    [_1100]  1fr
    [_1130]  1fr 
    [_1200]  1fr 
    [_1230]  1fr 
    [_1300]  1fr 
    [_1330]  1fr 
    [_1400]  1fr 
    [_1430]  1fr 
    [_1500]  1fr 
    [end-row];
}

.hour-line {
	position: absolute;
	top: 20px;
	border-style: dashed;
	width: 900px;
}

.size {
	font-size: 10px;
}

.lun {
	grid-area: day / lun;
}

.mar {
	grid-area: day / mar;
}

.mie {
	grid-area: day / mie;
}

.jue {
	grid-area: day / jue;
}

.vie {
	grid-area: day / vie;
}

._0900 {
	grid-area: _0900 / time;
}

._0930 {
	grid-area: _0930 / time;
}

._1000 {
	grid-area: _1000 / time;
}

._1030 {
	grid-area: _1030 / time;
}

._1100 {
	grid-area: _1100 / time;
}

._1130 {
	grid-area: _1130 / time;
}

._1200 {
	grid-area: _1200 / time;
}

._1230 {
	grid-area: _1230 / time;
}

._1300 {
	grid-area: _1300 / time;
}

._1330 {
	grid-area: _1330 / time;
}

._1400 {
	grid-area: _1400 / time;
}

._1430 {
	grid-area: _1430 / time;
}

._1500 {
	grid-area: _1500 / time;
}

._1530 {
	grid-area: _1530 / time;
}

._1600 {
	grid-area: _1600 / time;
}

._1630 {
	grid-area: _1630 / time;
}

._1700 {
	grid-area: _1700 / time;
}

._1730 {
	grid-area: _1730 / time;
}


._1800 {
	grid-area: _1800 / time;
}

._1830 {
	grid-area: _1830 / time;
}

._1900 {
	grid-area: _1900 / time;
}

._1930 {
	grid-area: _1930 / time;
}

._2000 {
	grid-area: _2000 / time;
}

._2030 {
	grid-area: _2030 / time;
}

._2100 {
	grid-area: _2100 / time;
}

._2130 {
	grid-area: _2130 / time;
}

.boxOne {
	grid-column-end: 5;
	grid-row-end: 11;
}

.wrapper {
	display: grid;
  }

  .item {
	padding: 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	/* with flexbox:
	width: calc(50% - 21px);
	*/
  }
